<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
    <form th:action="@{/Login}" method="post" >
        <label>Username:</label> 
        <input type="text" name="username" required="required"/>
        <br/>
        <label>Password:</label>
		<input type="password" name="password" required="required"/>
		<br/>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="submit" value="Submit"/>
	</form>
</body>
</html>