<div class="row">
    <div class="col sidebar">
        <div class="list-group">
            <button type="button" value="0" class="list-group-item list-group-item-action active"><input type="radio" name="categoryQuery" ng-model="testVal" value="">All</button>
            <button type="button" value="1" class="list-group-item list-group-item-action"><input type="radio" name="categoryQuery" ng-model="testVal" value="1">Bread</button>
            <button type="button" value="2" class="list-group-item list-group-item-action"><input type="radio" name="categoryQuery" ng-model="testVal" value="2">Dairy</button>
            <button type="button" value="3" class="list-group-item list-group-item-action"><input type="radio" name="categoryQuery" ng-model="testVal" value="3">Vegatable</button>
            <button type="button" value="4" class="list-group-item list-group-item-action"><input type="radio" name="categoryQuery" ng-model="testVal" value="4">Seasoning</button>
        </div>
    </div>
    <div style="width:100%" class="col">
        <div class="market-items d-flex flex-wrap">
            <div class="card market-item" ng-repeat="item in items | filter:{category: testVal}">
                <div class="item-image" ng-style="{'background-image': 'url(' + item.imagePath + ')'}">
                </div>
                <div>
                    <div class="details">
                        <h5>{{item.name}}</h5>
                        <p>${{item.price}}</p>
                    </div>
                    <div>
                        <button ng-hide="cart.getCount(item.id)" ng-click="cart.add(item.id)">ADD TO CART</button>
                        <div class="d-flex justify-content-between align-items-center" ng-show="cart.getCount(item.id)">
                            <a ng-click="cart.remove(item.id)" class="btn btn-secondary">-</a>
                            {{cart.getCount(item.id)}} in cart
                            <a ng-click="cart.add(item.id)" class="btn btn-secondary">+</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
