* {
    /*border: 1px solid red;*/
    margin: auto;
    font-family: sans-serif;
}

.main {
    width: 70%;
    padding: 0px 15px 25px 15px;
    background-color: #ebebeb;
    border-radius: 5px;
}

.container {
    width: 50%;
    padding: 12px 0px;
    display: flex;
    flex-wrap: wrap;
}

.titles {
    width: 40%;
    padding: 6px;
    text-align: right;
    font-weight: bold;
}

.inputs {
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    border: 1px solid #a1a1a1;
}

textarea {
    resize: none;
}

.inputs span {
    font-size-adjust: auto;
    padding: 6px;
}

.inputs input, select {
    padding: 6px;
    width: auto;
    margin-left: 0px;
}

.inputs select {
    padding: 6px 11px;
}

.radio-input {
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    width:100%;
}

.btn {
    background-color: #f29c42;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    cursor: pointer;
}

.btn i {
    padding-left: 4px;
}

input:invalid {
   border: 1px solid red;
}